# Laravel
/vendor/
node_modules/
public/storage
/storage/*.key
.env
Homestead.yaml
Homestead.json
.phpunit.result.cache

# IDE / 系統檔
/.vscode/
.idea/
*.log
*.cache
*.DS_Store
Thumbs.db

# Composer
composer.lock

# NPM / Yarn
npm-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
laravel-echo-server.lock